.card {
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: 2px solid #ccc;
  border-radius: 2%;
  width: 90%; /* Set default width */
  max-width: 85%; /* Limit maximum width */
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  margin: 0 auto; 
  margin-bottom: 2%;
}

.card-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center;
}

.card-section {
  text-align: center;
}

.card-section h1 {
  font-size: 2rem;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.details {
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.details p {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0; 
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
  .card {
      width: 45%; /* Adjust width for tablets */
  }
  .card:last-child {
    margin-right: 20%; /* Remove margin from the last card in each row */
}
.card:first-child {
    margin-left: 20%; /* Remove margin from the last card in each row */
}
 
}

@media only screen and (min-width: 1024px) {
  .card {
      width: 80%; /* Adjust width for laptops */
  }
}

/* Increase card size for large screens */
@media only screen and (min-width: 1200px) {
  .card {
      width: 25%; /* Adjust width for large screens */
  }
}
