/* Custom CSS to style the nav-pills */
.nav-pills .nav-link {
    padding: 0.5rem 1rem; /* Adjust the padding as needed */
  }
  
  .nav-pills .nav-item {
    margin-right: 0.5rem; /* Adjust the margin between nav items as needed */
  }
  
  .nav-pills .nav-item:last-child {
    margin-right: 0; /* Remove margin from the last nav item */
  }
  